  .settings {
      min-width: 204px;
      align-self: center;
      padding: 25px;
  }

  .settings form {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    border: 1px #00796b solid;
    border-radius: 2px;
    padding: 10px;
  }

  .heading {
    border-bottom: solid 2px #00796b;
    padding-bottom: 5px;
  }

  .settings p {
    margin: 10px 0px;
    font-weight: 600;
  }

  .column-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 45%;
  }

  .row-wrap {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;
  }

  .column-controls {
    width: 60%;
    padding-bottom: 5px;
  }

  .column-controls input {
    width: 100%;
    text-align: center;
  }

  .controls .row-wrap{
      padding: 5px 0px;
  }

  .controls input {
      width: 20%;
      text-align: center;
  }

  input[type="number"] {
      text-indent: 13px;
  }
